/* 
$theme-yellow: rgb(255, 230, 0);
$theme-green: rgb(92, 221, 41);
$theme-pink: rgba(255, 0, 141, 1);
$theme-blue: rgba(20, 186, 204, 1);
$theme-red: rgb(255, 116, 81);
*/

/* 
********************
Header Styles
********************
*/

/* Makes title resize on smaller screens */
@media screen and (max-width: 480px) {
  #header-title {
    font-size: 35px;
  }
}

header h1 {
  margin-bottom: 0px;
}

header a {
  font-family: "Bungee", cursive;
  font-size: 20px;
  color: rgba(20, 186, 204, 1);
}

header a:hover {
  color: rgba(255, 0, 141, 1);
  text-decoration: none;
}

header .title-letter {
  transition-duration: 1000ms;
}
